// Glyphicons font path
$icon-font-path:     '../fonts/';

// Grid settings
$main-sm-columns:    12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary:      #204676;
$brand-secondary:    #131a33;
$brand-tertiary:     #444;
